{{#> login}}
  {{#*inline "content"}}
    <form>
      {{{component "inputs/text" id="login" label="Anmeldedaten" value=logindata.login}}}
      {{{component "inputs/password" id="password" label="Password" value=logindata.password}}}
    </form>
    <button hx-post="/login/action/login">Anmelden</button>
  {{/inline}}
{{/login}}