{{#> login}}
  {{#*inline "content"}}
    <form>
      {{{component "inputs->text" id="login" label=texts.loginData value=logindata.login}}}
      {{{component "inputs->password" id="password" label=texts.password value=logindata.password}}}
      <button hx-post="/login/action/login">
        {{texts.login}}
      </button>
    </form>
  {{/inline}}
{{/login}}